@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@theme {
  --color-primary: #5F6FFF;
  --font-sans: "Poppins", sans-serif;
}
.active hr{
  @apply block;
}
*{
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
}
html, body{
  width: 100%;
  height: 100%;
}